@charset "UTF-8";

h6{
    padding-bottom: 50px;
}
.date{
    display: flex;
    justify-content: space-between;
    font-size: var(--size-h6);
}
.thumbnail{
    width: 100%;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon i{
    font-size: var(--size-16);
}
.icon li a:hover{
    color: var(--color-blue);
}
.icon li:nth-child(2) a{
    display: inline-block;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 100px;
}
.icon li:nth-child(2) a:hover{
    background-color: var(--color-blue);
    color: #fff;
}