@charset "UTF-8";

/* 카페 소개 */
h6 {
    padding-bottom: 50px;
}

.date {
    display: flex;
    justify-content: space-between;
    font-size: var(--size-h6);
    margin-bottom: 5px;
}

.date a:hover {
    color: var(--color-blue);
}

.thumbnail {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

/* Swiper */
.thumbnail_slide {
    width: 100%;
}

.thumbnail_slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.icon li:nth-child(1) {
    display: flex;
    gap: 10px;
}

.icon li:nth-child(1) i {
    font-size: var(--size-h6);
}

.icon i {
    font-size: var(--size-16);
    cursor: pointer;
}

.icon i:hover,
.icon i.fa-solid{
    color: var(--color-blue);
}

.icon li a:hover {
    color: var(--color-blue);
}

.icon li a {
    display: inline-block;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 100px;
}

.icon li a:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.icon li a:hover i{
    color: var(--color-white);
}

/* 세부 설명 */
h2 {
    padding: 70px 0 5px;

}

.detail_text {
    border-top: 1px solid var(--color-black);
    padding: 30px 0 50px;
    font-size: var(--size-16);
}

/* 지도 연동 */
.map {
    display: block;
    width: 100%;
}

/* 세부 정보 */
.detail_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 30px;
    font-size: var(--size-16);
    color: var(--color-dark-gray);
    gap: 5px 0;
}

.detail_info li:nth-child(odd) {
    width: 19%;
}

.detail_info li:nth-child(even) {
    width: 29%;
}

.keyword {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.keyword li {
    width: calc(100% / 7 - 10px);
    border: 1px solid var(--color-dark-gray);
    text-align: center;
    padding: 5px 0;
    font-size: var(--size-16);
    color: var(--color-dark-gray);
    border-radius: 4px;
    box-sizing: border-box;
}

/* 리뷰 */
.review {
    border: 1px solid var(--color-mid-gray);
    background-color: rgba(70, 176, 180, 0.1);
    padding: 20px;
    margin-bottom: 50px;
}

.review textarea {
    display: block;
    width: 100%;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
}

.review_icon {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    font-size: var(--size-16);
    gap: 10px;
}

.review i {
    background-color: var(--color-light-gray);
    border: 1px solid var(--color-mid-gray);
    padding: 8px 15px;
}

.review a:nth-child(2) {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
}

.review_icon a:hover i {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.review_icon a:hover {
    background-color: var(--color-blue);
}

.review_text {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

.review_text th,
.review_text td {
    border-bottom: 1px solid var(--color-dark-gray);
    padding: 10px;
    text-align: left;
}

.review_text th:nth-child(1) {
    width: 10%;
}

.review_text th:nth-child(2) {
    width: 20%;
}

.review_text th b {
    font-size: var(--size-16);
}

.review_text th span {
    font-weight: 400;
    color: var(--color-dark-gray);
}

.m_br {
    display: none;
}

.review_text th img {
    width: 100%;
    display: block;
}

/* mobile */
@media (max-width:1000px) {
    .detail_info li:nth-child(odd),
    .detail_info li:nth-child(even) {
        width: 49%;
    }

    .keyword {
        gap: 5px;
    }

    .keyword li {
        width: calc(100% / 4 - 5px);
    }
}

@media (max-width:750px) {
    .m_br {
        display: block;
    }

    .review_text th,
    .review_text td {
        padding: 2% 1%;
    }

    .review_text th:nth-child(1),
    .review_text th:nth-child(2) {
        width: 15%;
    }

}

@media (max-width:500px) {
    .keyword li {
        width: calc(100% / 3 - 5px);
    }

    .rewiew {
        padding: 5% 3%
    }

    .review_text th:nth-child(1),
    .review_text th:nth-child(2) {
        width: 20%;
    }

    .review_text th,
    .review_text td {
        padding: 2%;
    }
}

@media (max-width:370px) {
    .detail_text,
    .detail_info,
    .keyword li{
        font-size: 12px;
    }

    .review_text th:nth-child(1),
    .review_text th:nth-child(2) {
        width: 24%;
    }
}