@charset "UTF-8";

h1 {
  padding-top: 5%;
}

/* 뉴스 제목  */
.title {
  padding-top: 50px;
}

.title ul {
  display: flex;
  box-sizing: border-box;
  padding: 7px 0;
  gap: 10px;
  font-size: var(--size-16);
  border-top: 2px solid var(--color-dark-gray);
  border-bottom: 1px solid #ccc;
}

.title p {
  box-sizing: border-box;
  padding: 7px 10px;
  font-size: var(--size-14);
  background-color: var(--color-light-gray);
}

/* 진행공유 아이콘 */
.icon {
  display: flex;
  gap: 10px;
  padding: 50px 0;
}


.icon li {
  box-sizing: border-box;
  padding: 8px 35px;
  border-radius: 10px;
  font-size: var(--size-h6);
}

.ongoing {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}

.share {
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
}

/* 뉴스 이미지 */
.img_box {
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 800px;
  margin: auto;
}

.img_box img {
  width: 100%;
}

/* 페이지 버튼 */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 50px 0;
}

.pagination li a {
  box-sizing: border-box;
  padding: 15px 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  font-size: var(--size-16);
  font-weight: 500;
  display: inline-block
}

.pagination li:nth-child(2) a {
  box-sizing: border-box;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  padding-left: 50px;
  padding-right: 50px;
}

/* list */
.list {
  margin-bottom: 100px;
}

.list .img_box {
  overflow: hidden;
  aspect-ratio: 3/2;
  border: none;
  border-radius: 20px;
}

.list img {
  width: 100%;
}

.list h6 {
  text-align: left;
  padding: 5px 0;
}

.list p {
  font-size: var(--size-14);
}

/* mobile */
@media (max-width: 999px) {
  .img_box {
    border: none;
  }
}

@media (max-width: 374px) {
  h2 {
    font-size: var(--size-h5);
  }

  .pagination li a {
    font-size: var(--size-14);
  }

  .pagination li a {
    padding: 15px 20px;
  }

  .pagination li:nth-child(2) a {
    padding-left: 40px;
    padding-right: 40px;
  }
}