@charset "UTF-8";

/* index css */
.index_wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.index_wrap .logo {
  display: block;
  width: 100%;
  max-width: 301px;
  margin: auto;
}

.index_wrap .logo img {
  display: block;
}

.index_wrap .logo img {
  display: block;
}

/* user */
.index_wrap .user {
  position: absolute;
  top: 3%;
  right: 3%;
}

/* title */
h5 {
  padding: 30px 0 10px;
}

/* search */
.index_wrap .search {
  margin: 0px auto 30px;
}

/* tag */
.tag {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.tag li a {
  display: inline-block;
  padding: 10px 20px;
  font-size: var(--size-16);
  color: var(--color-white);
  border-radius: 30px;
  background-color: var(--color-blue);
}

/* index mobile css */
@media (max-width: 610px) {
  .index_wrap > div {
    width: 90%;
    margin: 0 auto;
  }

  .index_wrap .logo {
    width: 100%;
  }

  .index_wrap .logo img {
    width: 100%;
  }
  h5 {
    font-size: var(--size-h6);
  }
  .search {
    width: 100%;
  }

  .index_wrap .search {
    margin: 0px auto 20px;
  }

  .tag {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 5px;
  }
  .tag li a {
    font-size: var(--size-14);
    padding: 5px 10px;
    border-radius: 20px;
  }
}

