@charset "UTF-8";

.contents {
  display: flex;
  align-items: flex-start;
}

/* 프로필 */
.profile {
  padding-top: 150px;
  width: 20%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.user_box i {
  font-size: var(--size-h1);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  margin-right: 10px;
}

.user_box a {
  display: none;
  font-size: var(--size-16);
}

.sub_menu {
  padding-top: 30px;
}

.sub_menu li {
  font-size: var(--size-16);
  padding-bottom: 3px;
}

.sub_menu li:nth-child(1) {
  padding-bottom: 10px;
  text-align: left;
  font-weight: 800;
}

.sub_menu li a:hover {
  color: var(--color-blue);
}

/* 마이페이지 */
.mypage {
  width: 80%;
  padding-top: 80px;
}

.mypage>h2 {
  font-weight: 600;
  padding-bottom: 10px;
}

.board {
  display: flex;
  padding: 3%;
  border: 1px solid var(--color-black);
}

.board li {
  width: 33.33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board li h6 {
  font-weight: bold;
}

.count {
  color: var(--color-blue);
  display: flex;
  align-items: center;
}

.count span {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: #ccc;
  margin: 0 30px;
}

/* 리스트 */
.list {
  padding-top: 50px;
}

.list .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list>h2 {
  font-weight: bold;
}

.list .wrapper li {
  width: 24%;
  padding-bottom: 15px;
}

.list .wrapper li a {
  font-size: var(--size-16);
  font-weight: 600;
}

.list .wrapper .img_box {
  /* img */
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/0.8;
  border-radius: 10px;
}

.list .wrapper .img_box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.more {
  position: relative;
  padding-bottom: 50px;
}

.more::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc;
}

/* 나의 게시글 */
.notice_table {
  padding: 50px 0px 0px;
}

.notice_table h2 {
  font-weight: bold;
  padding-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-top: 2px solid var(--color-dark-gray);
}

th {
  background-color: var(--color-light-gray);
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  font-size: var(--size-h6);
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 13px 20px;
  font-size: var(--size-16);
}

tr>td:nth-child(2) {
  text-align: left;
}

.page_btn {
  display: flex;
  justify-content: center;
  padding: 50px 0px 30px;
  gap: 15px;
  font-size: var(--size-16);
}

.page_on{
  padding: 3px 8px;
  background-color: var(--color-light-gray);
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid var(--color-mid-gray);
}

.page_btn li:last-child a{
  font-weight: bold;
}

/*-------------검색창--------------*/

.search_bar {
  display: flex;
  gap: 5px;  
  justify-content: center;
}

.search_bar select,
.search_bar input,
.search_bar button {
  padding: 5px;
  height: 40px;
  box-sizing: border-box;
}

.search_bar select,
.search_bar input {
  border: 1px solid var(--color-mid-gray);
  color: var(--color-black);
}

.search_bar button {
  color: #fff;
  padding: 5px 20px;
  background-color: var(--color-blue);
  border: none;
  vertical-align: top;
  cursor: pointer;
}

/* 미디어 쿼리 */

@media (max-width: 999px) {
  .contents {
    display: block;
  }

  .profile {
    padding: 0;
    position: static;
    width: 100%;
    position: relative;
  }

  .user_box {
    display: flex;
  }

  h5 {
    padding-top: 10px;
  }

  .profile ul {
    padding: 0;
  }

  .profile ul:nth-of-type(1) {
    display: none;
  }

  .profile ul:nth-of-type(2) {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 90px;
    gap: 15px;
  }

  .profile ul:nth-of-type(2) li:nth-child(1) {
    display: none;
  }

  .profile ul:nth-of-type(3) {
    position: absolute;
    bottom: 0;
    left: 280px;
  }

  .profile ul li,
  .profile ul li:nth-child(1) {
    font-size: var(--size-16);
    font-weight: 600;
    padding-bottom: 10px;
  }

  .user_box a {
    display: inline-block;
  }

  .mypage {
    width: 100%;
  }

  .mypage>h2 {
    text-align: center;
  }

  .list .wrapper {
    justify-content: start;
    gap: 2%;
  }

  .list .wrapper li {
    width: 32%;
  }
}

@media (max-width: 600px) {
  .board li {
    display: block;
    justify-content: center;
    text-align: center;
  }

  .count {
    display: block;
  }

  .count span {
    display: none;
  }

  .list .wrapper {
    gap: 4%;
  }

  .list .wrapper li {
    width: 48%;
  }
}

@media (max-width: 430px) {
  .search_bar{
    gap: 1%;
  }
  .search_bar select,
  .search_bar input,
  .search_bar button{
    padding: 1%;
    font-size: var(--size-14);
  }
  .search_bar select{
    width: 30%;
  } 
  .search_bar input{
    width: 50%;
  }
  .search_bar button{
    width: 20%;
  }
}

@media (max-width: 400px) {
  .user_box i {
    font-size: var(--size-h2);
    width: 60px;
    height: 60px;
  }

  h5 {
    font-size: var(--size-h6);
    padding-top: 5px;
  }

  .profile ul:nth-of-type(2) {
    left: 70px;
  }

  .profile ul:nth-of-type(3) {
    left: 240px;
  }

  .profile ul li,
  .profile ul li:nth-child(1) {
    padding-bottom: 0;
    font-size: var(--size-14);
  }
}

@media (max-width: 335px) {
  .profile ul:nth-of-type(3) {
    bottom: -30px;
    left: 70px;
  }
}

/* 미디어 쿼리 끝 */